# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless


# custom
example.json
tda_api_creds.json
.env
.env.prod
.env.dev
node_modules/*

data
*.parquet
*.gzip

## custom - data
*.ipynb
.ipynb_checkpoints/
notebooks/

*test_script*

*.png
